<h1 class="mb-1 restaurant-show-title">Login</h1>

 {{> message}}

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form action="/login" method="POST" class="form-group">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </form>

      <form action="/login/facebook" method="GET" class="mt-3">
        <button type="submit" class="btn btn-primary">Facebook Login</button>
      </form>

      <div class="mt-3">
        <span>No account?</span>
        <a href="/register" class="text-decoration-none">Register</a>
      </div>
    </div>
  </div>
</div>
